{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article id="{{url}}" class="blog-post">
    {{#if image}}
        <div class="post-header-image" style="background-image: url({{image}})"></div>
    {{else}}
        <hr class="post-date-line" />
    {{/if}}
    <time class="post-date with-line post-meta-text" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    <div class="{{post_class}}">
        <i class="post-meta-text post-meta-icon fa fa-heart fa-2x"></i>
        <div class="post-meta post-meta-text tags">
            {{tags}}
        </div>
        <hr class="post-header-line top"/>
        <header class="post-header">
            <h2 class="post-title"><a href="#{{url}}">{{title}}</a></h2>
        </header>
        <hr class="post-header-line bottom"/>
        <section class="post-content">
            {{content}}
        </section>
    </div>
    
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
