{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
<div class="hidden-sm hidden-xs">
    {{#foreach posts}}
    <article id="{{url}}" class="blog-overview row">
        <div class="row-same-height">
            {{#if @odd}}
            <div class="col-md-6 col-same-height col-align-middle title" style="background-image: url({{image}})">
                <div class="overview-content">
                    <a href="{{url}}" class="title-read-link">
                        <h2>Read</h2>
                    </a>  
                </div>
            </div>
            <div class="col-same-height col-align-middle">
                <div class="arrow arrow-left"></div>
            </div>
            <div class="col-md-6 col-same-height col-align-middle excerpt">
                <div class="overview-content">
                    <h2><a href="{{url}}" class="read-link">{{custom_title}}</a></h2>
                    <hr></hr>
                    <p>{{excerpt words="75"}} [...]</p>
                    <hr></hr>
                    <a href="{{url}}" class="read-link">READ</a> 
                </div>
            </div>
            {{else}}
            <div class="col-md-6 col-same-height col-align-middle excerpt">
                <div class="overview-content">
                    <h2><a href="{{url}}" class="read-link">{{title}}</a></h2>
                    <hr></hr>
                    <p>{{excerpt words="75"}} [...]</p>
                    <hr></hr>
                    <a href="{{url}}" class="read-link">READ</a> 
                </div>
            </div>
            <div class="col-same-height col-align-middle">
                <div class="arrow arrow-right"></div>
            </div>
            <div class="col-md-6 col-same-height col-align-middle title" style="background-image: url({{image}})">
                <div class="overview-content">
                    <a href="{{url}}" class="title-read-link">
                        <h2>Read</h2>
                    </a>    
                </div>
            </div>
            {{/if}}
        </div>
    </article>
    {{/foreach}}
</div>

<div class="visible-xs visible-sm">
    {{#foreach posts}}
    <article id="{{url}}" class="blog-overview narrow">
        <div>
            <div class="title row-same-height" style="background-image: url({{image}}); height: 30vh">
                <div class="overview-content vertical-middle">
                    <a href="{{url}}" class="title-read-link">
                        <h2>Read</h2>
                    </a>  
                </div>
            </div>
            <div>
                <div class="center-block arrow-up"></div>
            </div>
            <div class="excerpt row-same-height">
                <div class="overview-content narrow vertical-middle">
                    <h2><a href="{{url}}" class="read-link">{{title}}</a></h2>
                    <hr></hr>
                    <p>{{excerpt words="75"}} [...]</p>
                    <hr></hr>
                    <a href="{{url}}" class="read-link">READ</a> 
                </div>
            </div>
        </div>
    </article>
    {{/foreach}}
</div>

{{! Previous/next page links - displayed on every page }}
{{pagination}}    

